<div class="body">
  <div class="container">
    <h3 class="title">Hola <%= @email %>!</h3><hr>

    <table class="content">
      <tbody>
        <tr class="inline-tr"> <td></td> </tr>

        <tr class="inline-tr">
          <td class="fs18"> <%= @message %> </td>
        </tr>
        <tr class="inline-tr">
          <td> <br> </td>
        </tr>

        <tr> <td></td> </tr>

        <tr>
          <table class="w-100">
            <tbody class="footer">
              <tr> <td><hr></td> </tr>
              <tr>
                <td class="company">
                  Bigpetco
                </td>
              </tr>
              <tr> <td><hr></td> </tr>
              <tr>
                <td class="company"><%= link_to 'bigpetco.com', 'http://bigpetco.com/', target: '_blank' %></td>
              </tr>
            </tbody>
          </table>  
        </tr>
      </tbody>
    </table>
  </div>
</div>
