<div class="dashboard-content">	
  <div class="row align-items-center mt-devices">
    <h3 class="admintitle">Editar Mascota</h3>

    <% route = current_user.admin? ? user_pets_path(@user) : @user %>
    <%= link_to t('btn.back'), route, class: 'btn btn-primary pull-right btn-sm', method: :get %>
  </div>

  <%= render 'form', btn_title: t('btn.edit') %>
</div>
