@import "variables";

.pull-right{ float: right !important;}
.pull-left{ float: left !important;}
.op-07{ opacity: 0.7 !important; }

.fw200 {
  font-weight: $two_hundred !important;
}
.fw300 {
  font-weight: $three_hundred !important;
}
.fw400 {
  font-weight: ($two_hundred * 2) !important;
}
.fw500 {
  font-weight: $five_hundred !important;
}
.fw600 {
  font-weight: ($three_hundred * 2) !important;
}
.fw700 {
  font-weight: (($three_hundred * 2)+ $one_hundred) !important;
}
.fs4 {
  font-size: ($two * 2px) !important;
}
.fs5 {
  font-size: pass_to_px($six - $one) !important;
}
.fs6 {
  font-size: pass_to_px($six * $one) !important;
}
.fs7 {
  font-size: pass_to_px($eight - $one) !important;
}
.fs8 {
  font-size: pass_to_px($eight * $one) !important;
}
.fs9 {
  font-size: pass_to_px($eight + $one) !important;
}
.fs10 {
  font-size: pass_to_px($ten * $one) !important;
}
.fs11 {
  font-size: pass_to_px($ten + $one) !important;
}
.fs12 {
  font-size: ($ten + 2px) !important;
}
.fs13 {
  font-size: ($ten + 3px) !important;
}
.fs14 {
  font-size: pass_to_px(($ten + $four) * $one) !important;
}
.fs15 {
  font-size: pass_to_px(($twenty * $one) - 5) !important;
}
.fs16 {
  font-size: pass_to_px(($twenty * $one) - $four) !important;
}
.fs17 {
  font-size: ($ten + 7px) !important;
}
.fs18 {
  font-size: pass_to_px(($ten * $one) + $eight) !important;
}
.fs20 {
  font-size: pass_to_px($twenty * $one) !important;
}
.fs22 {
  font-size: ($twenty + 2px) !important;
}
.fs24 {
  font-size: pass_to_px($twenty * $one)+$four !important;
}
.fs26 {
  font-size: ($twenty_p + $six) !important;
}
.fs28 {
  font-size: ($twenty_p + $eight) !important;
}
.fs30 {
  font-size: $thirty_p !important;
}
.fs35 {
  font-size: pass_to_px($thirty + $five) !important;
}
.fs40 {
  font-size: $forty_p !important;
}
.fs45 {
  font-size: ($forty_p + $five_p) !important;
}
.fs50 {
  font-size: $fifty_p !important;
}
.fs60 {
  font-size: $sixty_p !important;
}
.pn {
  padding: 0 !important;
}
.p1 {
  padding: pass_to_px($one) !important;
}
.p2 {
  padding: $two_p !important;
}
.p3 {
  padding: $three_p !important;
}
.p4 {
  padding: $four_p !important;
}
.p5 {
  padding: $five_p !important;
}
.p6 {
  padding: pass_to_px($six) !important;
}
.p7 {
  padding: ($five_p + $two_p) !important;
}
.p8 {
  padding: ($four_p * 2) !important;
}
.p10 {
  padding: $ten_p !important;
}
.p15 {
  padding: ($five_p * 3) !important;
}
.p20 {
  padding: $twenty_p !important;
}
.p25 {
  padding: ($five_p * 5) !important;
}
.p30 {
  padding: ($ten_p * 3) !important;
}
.p35 {
  padding: ($thirty_p + $five_p) !important;
}
.p40 {
  padding: $forty_p !important;
}
.p50 {
  padding: $fifty_p !important;
}
.plp10{ 
  padding-left: pass_to_perentage($ten) !important;
}
.plp12{ 
  padding-left: pass_to_perentage($ten+$two) !important;
}
.plp20{ 
  padding-left: pass_to_perentage($ten*2) !important;
}
.prp10{
  padding-right: pass_to_perentage($ten) !important;
}
.prp12{ 
  padding-right: pass_to_perentage($ten+$two) !important;
}
.prp20{ 
  padding-right: pass_to_perentage($ten*2) !important;
}
.ptn {
  padding-top: 0 !important;
}
.ptn3 {
  padding-top: -$three+px !important;
}
.ptn5 {
  padding-top: -5px !important;
}
.ptn8 {
  padding-top: -8px !important;
}
.ptn10 {
  padding-top: ($ten * -1px) !important;
}
.ptn15 {
  padding-top: ($five_p * -1) !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt5 {
  padding-top: $five_p !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pt10 {
  padding-top: $ten_p !important;
}
.pt15 {
  padding-top: ($five_p * 3) !important;
}
.pt20 {
  padding-top: $twenty_p !important;
}
.pt25 {
  padding-top: ($five_p * 5) !important;
}
.pt30 {
  padding-top: $thirty_p !important;
}
.prn {
  padding-right: 0 !important;
}
.pr3 {
  padding-right: 3px !important;
}
.pr5 {
  padding-right: $five_p !important;
}
.pr8 {
  padding-right: ($four_p * 2) !important;
}
.pr10 {
  padding-right: $ten_p !important;
}
.pr15 {
  padding-right: ($five_p * 2) !important;
}
.pr20 {
  padding-right: $twenty_p !important;
}
.pr25 {
  padding-right: ($five_p * 5) !important;
}
.pr30 {
  padding-right: $thirty_p !important;
}
.pbn {
  padding-bottom: 0 !important;
}
.pb2 {
  padding-bottom: 2px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}
.pb5 {
  padding-bottom: $five_p !important;
}
.pb8 {
  padding-bottom: ($four_p * 2) !important;
}
.pb10 {
  padding-bottom: $ten_p !important;
}
.pb15 {
  padding-bottom: ($five_p * 3) !important;
}
.pb20 {
  padding-bottom: $twenty_p !important;
}
.pb25 {
  padding-bottom: ($five_p * 5) !important;
}
.pb30 {
  padding-bottom: $thirty_p !important;
}
.pb60{
  padding-bottom: $sixty_p !important;
}
.pb100 {
  padding-bottom: pass_to_px($one_hundred) !important;
}
.pln {
  padding-left: 0 !important;
}
.pl3 {
  padding-left: 3px !important;
}
.pl5 {
  padding-left: $five_p !important;
}
.pl8 {
  padding-left: ($four_p * 2) !important;
}
.pl10 {
  padding-left: $ten_p !important;
}
.pl15 {
  padding-left: ($five_p * 3) !important;
}
.pl20 {
  padding-left: $twenty_p !important;
}
.pl25 {
  padding-left: ($five_p * 5) !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pvn {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pv3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.pv5 {
  padding-top: $five_p !important;
  padding-bottom: $five_p !important;
}
.pv8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.pv10 {
  padding-top: $ten_p !important;
  padding-bottom: $ten_p !important;
}
.pv15 {
  padding-top: ($five_p * 3) !important;
  padding-bottom: ($five_p * 3) !important;
}
.pv20 {
  padding-top: $twenty_p !important;
  padding-bottom: $twenty_p !important;
}
.pv25 {
  padding-top: ($five_p * 5) !important;
  padding-bottom: ($five_p * 5) !important;
}
.pv30 {
  padding-top: $thirty_p !important;
  padding-bottom: $thirty_p !important;
}
.phn {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ph3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.ph5 {
  padding-left: $five_p !important;
  padding-right: $five_p !important;
}
.ph8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.ph10 {
  padding-left: $ten_p !important;
  padding-right: $ten_p !important;
}
.ph15 {
  padding-left: ($five_p * 3) !important;
  padding-right: ($five_p * 3) !important;
}
.ph20 {
  padding-left: $twenty_p !important;
  padding-right: $twenty_p !important;
}
.ph25 {
  padding-left: ($five_p * 5) !important;
  padding-right: ($five_p * 5) !important;
}
.ph30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.phn3 {
  padding-left: -3px !important;
  padding-right: -3px !important;
}
.phn5 {
  padding-left: -5px !important;
  padding-right: -5px !important;
}
.phn8 {
  padding-left: -8px !important;
  padding-right: -8px !important;
}
.phn10 {
  padding-left: -10px !important;
  padding-right: -10px !important;
}
.mauto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mlp10{ 
  margin-left: pass_to_perentage($ten) !important;
}
.mrp10{ 
  margin-right: pass_to_perentage($ten) !important;
}
.mlp20{ 
  margin-left: pass_to_perentage($ten*2) !important;
}
.mrp20{ 
  margin-right: pass_to_perentage($ten*2) !important;
}
.mcenter{
  margin: 0 auto !important;
}
.mn {
  margin: 0 !important;
}
.m3 {
  margin: 3px !important;
}
.m5 {
  margin: 5px !important;
}
.m8 {
  margin: 8px !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: $twenty_p !important;
}
.m25 {
  margin: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.mtn {
  margin-top: 0 !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt10 {
  margin-top: $ten_p !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt18 {
  margin-top: 18px !important;
}
.mt20{
  margin-top: $twenty_p !important;
}
.mt25{
  margin-top: 25px !important;
}
.mt30{
  margin-top: pass_to_px($ten*$three) !important;
}
.mt40{
  margin-top: pass_to_px($ten*$four) !important;
}
.mt50{
  margin-top: $fifty_p !important;
}
.mrn {
  margin-right: 0 !important;
}
.mr3 {
  margin-right: 3px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: $twenty_p !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mbn {
  margin-bottom: 0 !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: $twenty_p !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb100 {
  margin-bottom: pass_to_px($one_hundred) !important;
}
.mln {
  margin-left: 0 !important;
}
.ml3 {
  margin-left: 3px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: $twenty_p !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: pass_to_px($thirty+$five) !important;
}
.ml50 {
  margin-left: pass_to_px($fifty) !important;
}
.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mv5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mv10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mv15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mv20 {
  margin-top: $twenty_p !important;
  margin-bottom: $twenty_p !important;
}
.mv25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mv30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mh3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.mh0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mh5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.mh10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mh15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mh20 {
  margin-left: $twenty_p !important;
  margin-right: $twenty_p !important;
}
.mh25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.mh30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.mh40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.mh50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.mh70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
.mhn22 {
  margin-left: -22px !important;
  margin-right: -22px !important;
}
.mtn2 {
  margin-top: -2px !important;
}
.mtn3 {
  margin-top: -3px !important;
}
.mtn4 {
  margin-top: -4px !important;
}
.mtn5 {
  margin-top: -5px !important;
}
.mtn6 {
  margin-top: -6px !important;
}
.mtn7 {
  margin-top: -7px !important;
}
.mtn8 {
  margin-top: -8px !important;
}
.mtn10 {
  margin-top: -10px !important;
}
.mtn13 {
  margin-top: -13px !important;
}
.mtn15 {
  margin-top: -15px !important;
}
.mtn16 {
  margin-top: -16px !important;
}
.mtn17 {
  margin-top: -17px !important;
}
.mtn19 {
  margin-top: -19px !important;
}
.mtn20 {
  margin-top: ($twenty_p * -1) !important;
}
.mtn22 {
  margin-top: -22px !important;
}
.mtn25 {
  margin-top: -25px !important;
}
.mtn30 {
  margin-top: -30px !important;
}
.mtn35 {
  margin-top: -35px !important;
}
.mtn40 {
  margin-top: -40px !important;
}
.mtn50 {
  margin-top: -50px !important;
}
.mtn60 {
  margin-top: -60px !important;
}
.mtn100 {
  margin-top: -100px !important;
}
.mrn2 {
  margin-right: -2px !important;
}
.mrn3 {
  margin-right: -3px !important;
}
.mrn4 {
  margin-right: -4px !important;
}
.mrn5 {
  margin-right: -5px !important;
}
.mrn6 {
  margin-right: -6px !important;
}
.mrn7 {
  margin-right: -7px !important;
}
.mrn8 {
  margin-right: -8px !important;
}
.mrn10 {
  margin-right: -10px !important;
}
.mrn15 {
  margin-right: -15px !important;
}
.mrn20 {
  margin-right: ($twenty_p * -1) !important;
}
.mrn25 {
  margin-right: -25px !important;
}
.mrn30 {
  margin-right: -30px !important;
}
.mrn35 {
  margin-right: -35px !important;
}
.mrn40 {
  margin-right: -40px !important;
}
.mrn50 {
  margin-right: -50px !important;
}
.mbn5 {
  margin-bottom: -5px !important;
}
.mbn10 {
  margin-bottom: -10px !important;
}
.mbn15 {
  margin-bottom: -15px !important;
}
.mbn20 {
  margin-bottom: ($twenty_p * -1) !important;
}
.mbn30 {
  margin-bottom: -30px !important;
}
.mln2 {
  margin-left: -2px !important;
}
.mln3 {
  margin-left: -3px !important;
}
.mln5 {
  margin-left: -5px !important;
}
.mln10 {
  margin-left: -10px !important;
}
.mln15 {
  margin-left: -15px !important;
}
.mln20 {
  margin-left: ($twenty_p * -1) !important;
}
.mln25 {
  margin-left: -25px !important;
}
.mln30 {
  margin-left: -30px !important;
}
.mln40 {
  margin-left: -40px !important;
}
.mln50 {
  margin-left: -50px !important;
}
.mvn5 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.mvn10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.mvn15 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.mvn20 {
  margin-top: ($twenty_p * -1) !important;
  margin-bottom: ($twenty_p * -1) !important;
}
.mvn30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
.mhn5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.mhn10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.mhn15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.mhn20 {
  margin-left: ($twenty_p * -1) !important;
  margin-right: ($twenty_p * -1) !important;
}
.lh0 {
  line-height: 0 !important;
}
.lh3 {
  line-height: 3px !important;
}
.lh5 {
  line-height: 5px !important;
}
.lh10 {
  line-height: 10px !important;
}
.lh15 {
  line-height: 15px !important;
}
.lh20 {
  line-height: $twenty_p !important;
}
.lh25 {
  line-height: 25px !important;
}
.lh30 {
  line-height: 30px !important;
}
.br-n {
  border: none !important;
}
.br-1 {
  border: 1px solid #eeeeee !important;
}
.br-2 {
  border: 2px solid #eeeeee !important;
}
.br-3 {
  border: 3px solid #eeeeee !important;
}
.br-dashed {
  border-style: dotted !important;
}
.br0 {
  border-radius: 0px !important;
}
.br2 {
  border-radius: 2px !important;
}
.br4 {
  border-radius: 4px !important;
}
.br6 {
  border-radius: 6px !important;
}
.br8 {
  border-radius: 8px !important;
}
.br10 {
  border-radius: 10px !important;
}
.br12 {
  border-radius: 12px !important;
}
.br-circle {
  border-radius: 50% !important;
}
.bw1 {
  border-width: 1px !important;
}
.bw2 {
  border-width: 2px !important;
}
.bw4 {
  border-width: 4px !important;
}
.bw6 {
  border-width: 6px !important;
}
.bw8 {
  border-width: 8px !important;
}
.bw10 {
  border-width: 10px !important;
}
.cp{
  cursor: pointer !important;
}
// Width ---------------------
.w100{
  width: 100% !important;
}
.w80{
  width: 80% !important;
}
.w50{
  width: 50% !important;
}
// Height ---------------------
.hauto{
  height:  auto !important;
}
.mh-20 {
  max-height: $twenty_p !important;
}
.mh-25 {
  max-height: 25px !important;
}
.mh-30 {
  max-height: 30px !important;
}
.mh-35 {
  max-height: 35px !important;
}
.mh-40 {
  max-height: 40px !important;
}
.mh-50 {
  max-height: 50px !important;
}
.mh-100 {
  max-height: 100px !important;
}
.mh-200 {
  max-height: 200px !important;
}
.mh-300 {
  max-height: 300px !important;
}
.mh-400 {
  max-height: 400px !important;
}
.mh-500 {
  max-height: 500px !important;
}
.mh-600 {
  max-height: 600px !important;
}
.mh-700 {
  max-height: 700px !important;
}
.mh-800 {
  max-height: 800px !important;
}
.mh-900 {
  max-height: 900px !important;
}
.mh-1000 {
  max-height: 1000px !important;
}
.minh-60 {
  min-height: 60px !important;
}
.minh-80 {
  min-height: 80px !important;
}
.minh-100 {
  min-height: 100px !important;
}
.minh-200 {
  min-height: 200px !important;
}
.minh-300 {
  min-height: 300px !important;
}
.minh-400 {
  min-height: 400px !important;
}
.minh-500 {
  min-height: 500px !important;
}
.minh-600 {
  min-height: 600px !important;
}
.minh-700 {
  min-height: 700px !important;
}
.minh-800 {
  min-height: 800px !important;
}
.minh-900 {
  min-height: 900px !important;
}
.minh-1000 {
  min-height: 1000px !important;
}
.mw-40 {
  max-width: $forty+px !important;
}
.mw-50 {
  max-width: $fifty+px !important;
}
.mw-100 {
  max-width: $one_hundred+px !important;
}
.mw-200 {
  max-width: pass_to_px($one_hundred*$two) !important;
}
.mw-300 {
  max-width: pass_to_px($one_hundred*$three) !important;
}
.mw-400 {
  max-width: pass_to_px($one_hundred*$four) !important;
}
.minw-30 {
  min-width: pass_to_px($thirty) !important;
}
.minw-40 {
  min-width: pass_to_px($thirty+$ten) !important;
}
.minw-50 {
  min-width: pass_to_px($ten*$five) !important;
}
.minw-100 {
  min-width: pass_to_px($one_hundred) !important;
}
.z-max{z-index: $z-max;}
.z-med-l{z-index: $z-med-l;}
.z-med{z-index: $z-med;}
.z-low{z-index: $z-low;}
