<div class="dashboard-content">	
	<div class="row align-items-center mt-devices">
		<h3 class="admintitle">Nueva Marca</h3>

		<%= link_to t('btn.back'), brands_path, class: 'btn btn-primary pull-right btn-sm', method: :get %>
	</div>

	<%= render 'form', btn_title: t('btn.create') %>
</div>
