<div class="dashboard-content">	
  <div class="row align-items-center mt-devices">
    <div class="col-sm-12 pbn mbn">
      <h3 class="admintitle mbn">Generar PQRS</h3>
    </div>
    <div class="col-sm-12 ptn mtn">
      <h5 class="admintitle mtn fs14 color-grey">(Preguntas, Quejas, Reclamos, Sugerencias)</h5>
    </div>
  </div>

  <%= render 'form', btn_title: t('btn.create') %>
</div>
