<div id="slider" class="slides-content top-slides">
  <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
    <%= image_tag 'slide_1.jpg', class: 'ls-bg'  %>

    <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
      <div class="header-text dog-elements">
        <h1>¡Alimento para tú perro!</h1>
        <div class="d-none d-sm-block">
          <p class="header-p">
            Adquiere el alimento para un mes en porciones diarias, con la cantidad que tú perro necesita y al mejor precio.
          </p>
          <% link_to 'Adquire tú plan', about_path, class: 'btn btn-primary', method: :get %>
        </div>
      </div>
    </div>
  </div>

  <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
    <%= image_tag 'slide_2.jpg', class: 'ls-bg'  %>
    <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
      <div class="header-text cat-elements">
        <h1>¡Alimento y arena para tú gato!</h1>
        <div class="d-none d-sm-block">
          <p class="header-p">
            Adquiere el alimento para un mes en porciones diarias, con la cantidad que tú gato necesita y al mejor precio.
            Y escoge la arena de tú preferencia.
          </p>
          <% link_to 'Adquire tú plan', about_path, class: 'btn btn-primary', method: :get %>
        </div>
      </div>
    </div>
  </div>

  <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
    <%= image_tag 'slide_3.jpg', class: 'ls-bg'  %>

    <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
      <div class="header-text dog-elements">
        <h1>¡Alimento para tú perro cachorro!</h1>
        <div class="d-none d-sm-block">
          <p class="header-p">
            Adquiere el alimento para un mes en porciones diarias, con la cantidad que tú perrito necesita y al mejor precio.
          </p>
          <% link_to 'Adquire tú plan', about_path, class: 'btn btn-primary', method: :get %>
        </div>
      </div>
    </div>
  </div>

  <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
    <%= image_tag 'slide_4.jpg', class: 'ls-bg'  %>
    <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
      <div class="header-text cat-elements">
        <h1>¡Alimento y arena para tú gato cachorro!</h1>
        <div class="d-none d-sm-block">
          <p class="header-p">
            Adquiere el alimento para un mes en porciones diarias, con la cantidad que tú gatito necesita y al mejor precio.
            Y escoge la arena de tú preferencia. 
          </p>
          <% link_to 'Adquire tú plan', about_path, class: 'btn btn-primary', method: :get %>
        </div>
      </div>
    </div>
  </div>
</div>
