<div class="container-social-network">
  <div class="social-link">
    <%= link_to 'https://www.facebook.com/bigpetco.sas.1', target:'_blank' do %>
      <i class="fa fa-facebook-square fs26 txt-white"></i>
    <% end %>
  </div>
  <div class="social-link">
    <%= link_to 'https://www.instagram.com/bigpetco/', target:'_blank' do %>
      <i class="fa fa-instagram fs26 txt-white"></i>
    <% end %>
  </div>
  <div class="social-link">
    <%= link_to 'https://twitter.com/bigpetco', target:'_blank' do %>
      <i class="fa fa-twitter fs26 txt-white"></i>
    <% end %>
  </div>
  <div class="social-link">
    <%= link_to 'https://www.youtube.com/channel/UC_cLCSbgWuKkUudKsBJFy5A/featured?view_as=subscriber', target:'_blank' do %>
      <i class="fa fa-youtube fs22 txt-white"></i>
    <% end %>
  </div>
</div>
